# src
[submodule "src/pyGeometry"]
	path = src/pyGeometry
	url = https://github.com/c-w-m/pyGeometry.git
[submodule "src/Spirograph"]
	path = src/Spirograph
	url = https://github.com/c-w-m/Spirograph.git
[submodule "src/pbpython"]
	path = src/pbpython
	url = https://github.com/c-w-m/pbpython.git
[submodule "3p/pandas"]
	path = 3p/pandas
	url = https://github.com/pandas-dev/pandas.git
[submodule "3p/matplotlib"]
	path = 3p/matplotlib
	url = https://github.com/matplotlib/matplotlib.git
