# src
[submodule "src/matplotlib"]
	path = src/matplotlib
	url = https://github.com/c-w-m/matplotlib.git
[submodule "src/pandas"]
	path = src/pandas
	url = https://github.com/c-w-m/pandas.git
[submodule "src/pyGeometry"]
	path = src/pyGeometry
	url = https://github.com/c-w-m/pyGeometry.git
[submodule "src/Spirograph"]
	path = src/Spirograph
	url = https://github.com/c-w-m/Spirograph.git
[submodule "src/pbpython"]
	path = src/pbpython
	url = https://github.com/c-w-m/pbpython.git
[submodule "src/tpq_dev"]
	path = src/tpq_dev
	url = https://flxsa@bitbucket.org/flxsa/tpq_dev.git
