anyio
appdirs
argon2-cffi
async_generator
atomicwrites
attrs
Babel
backcall
beautifulsoup4
bleach
Brotli
brotlipy
certifi
cffi
chardet
colorama
cramjam
cryptography
cycler
cython
decorator
defusedxml
deprecation
distlib
entrypoints
et_xmlfile
fastparquet
filelock
fsspec
greenlet
html5lib
icc_rt
idna
importlib-metadata
importlib_resources
iniconfig
ipykernel
ipython
ipython_genutils
jdcal
jedi
jinja2
json5
jsonschema
jupyter-packaging
jupyter_client
jupyter_core
jupyter_server
jupyterlab
jupyterlab_pygments
jupyterlab_server
kiwisolver
markupsafe
matplotlib
mistune
mock
more-itertools
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numba
numexpr
numpy
odfpy
olefile
openpyxl
packaging
pandas
pandocfilters
parso
patsy
pickleshare
pillow
pip
pluggy
prometheus_client
prompt-toolkit
psycopg2
py
pyarrow
pycparser
pyexcel-ezodf
pyexcel-io
pyexcel-ods3
pygments
pymysql
pyopenssl
pyparsing
pyreadstat
pyrsistent
pysocks
pytest
python-dateutil
pytz
pyxlsb
pyzmq
requests
scipy
send2trash
setuptools
six
sniffio
soupsieve
sqlalchemy
statsmodels
terminado
testpath
thrift
toml
tomlkit
tornado
traitlets
typing-extensions
typing_extensions
urllib3
wcwidth
webencodings
wheel
win_inet_pton
wincertstore
xlrd
xlsxwriter
xlwt
zipp
zstd
